<h1>Stupid coaching</h1>
<div>
  <h2><%= @question %></p>
  <h2>- You</p>
</div>

</div>
  <h3><%= @answer %></p>
  <h3>- Your coach</p>
</div>

<div><h4><%= link_to "Ask a new question", ask_path %></h4></div>
